<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cart</ion-title>
    <ion-buttons end>
      <button ion-button>
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="cart gray-bg">

  <div class="card" margin-top *ngFor="let store of cart.stores; let storeIndex = index"
       [hidden]="!store.items.length">
    <div class="card-header" padding>
      Restaurant: {{ store.name }}
    </div>

    <ion-list class="list-full-border" no-margin>
      <ion-item class="product" *ngFor="let item of store.items; let i = index">
        <ion-thumbnail item-left>
          <img src="{{ item.thumbnail }}">
        </ion-thumbnail>
        <!--item's information-->
        <div>
          <div text-wrap>{{ item.name }}</div>
          <span class="text-sm" *ngFor="let variation of item.variations, let i = index">
            <span ion-text color="light-dark" *ngIf="i > 0">,</span>
            <span ion-text color="light-dark">{{ variation.name }}</span>
          </span>
          <div class="text-sm" *ngIf="item.size">
            <span ion-text color="light-dark">{{ item.size.name }}</span>
          </div>
          <div padding-bottom>
            <span class="pull-right">${{ item.price }}</span>
            <div class="clear"></div>
          </div>
          <div>
            <div class="input-qty">
            <span class="btn" (click)="minusQty(item)">
              <ion-icon name="ios-remove"></ion-icon>
            </span>
              <input type="text" [(ngModel)]="item.quantity">
              <span class="btn" (click)="addQty(item)">
              <ion-icon name="ios-add"></ion-icon>
            </span>
              <div class="clear"></div>
            </div>
            <div class="pull-right bottom-info text-lg trash-btn">
              <ion-icon name="trash" color="danger" class="pull-right" (click)="remove(item)"></ion-icon>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>


    <div class="card-footer" padding>
      <!--
     <div>
       <span class="pull-left" ion-text color="light-dark">Subtotal</span>
       <span class="pull-right" ion-text color="light-dark">{{ store.subtotal | currency:'USD':true }}</span>
       <div class="clear"></div>
     </div>
     <div>
       <span class="pull-left" ion-text color="light-dark">Shipping</span>
       <span class="pull-right" ion-text color="light-dark">{{ store.shipping | currency:'USD':true }}</span>
       <div class="clear"></div>
     </div>
     -->
      <div>
        <span class="pull-left" ion-text color="light-dark">Total</span>
        <span class="pull-right bold" ion-text color="danger">${{ store.subTotal }}</span>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</ion-content>

<!--Footer button-->
<ion-footer class="cart-footer" padding>
  <ion-title>
    <span ion-text color="dark">Total</span>
    <br/>
    <span class="bold" ion-text color="danger">${{ cart.total }}</span>
  </ion-title>
  <ion-buttons end>
    <button ion-button (click)="buy()" color="danger">
      BUY ALL
    </button>
  </ion-buttons>
</ion-footer>
