page-pickup-delivery {
.picksub-bg{

	background-color: white;
	padding: 5,5;
}

.picksub-button{

	
	// padding:10,5;
	// margin-bottom: 10px;
	// background-color: orange;
	// text-align: center;
}

    color: #ff0000c4;
    font-size: 20px;
    border: solid;
}
page-login,
.login {

}
