<ion-menu [content]="content">

  <ion-content class="menu-left">
    <!-- User profile -->
    <div text-center padding-top padding-bottom class="primary-bg menu-left">
      <a menuClose *ngIf="user" (click)="viewAccount()">
        <img class="profile-picture" src="{{ user.photoUrl }}">
        <h4 ion-text color="light">{{ user.name }}</h4>
      </a>
    </div>

    <ion-list class="list-full-border">
      <button ion-item menuClose *ngFor="let page of pages" (click)="openPage(page)">
        <ion-icon item-left name="{{ page.icon }}"></ion-icon>
        {{ page.title }}
        <ion-badge danger item-right *ngIf="page.count">{{ page.count }}</ion-badge>
      </button>
      <button ion-item menuClose (click)="logout()">
        <ion-icon item-left name="ios-exit-outline"></ion-icon>
        Logout
      </button>
    </ion-list>

    <div class="container">
      <h1>Angular 2 + Google Maps Places Autocomplete</h1>
      <div class="form-group">
        <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search>
      </div>
    </div>
  </ion-content>




</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
